<figure class="figure">
    <a href="{{ "/assets/images/" | append: page.collection | append: "/" | append: include.src | relative_url  }}" data-bs-toggle="lightbox" data-title="{{ include.alt }}" data-type="{{ include.type }}">
    <img src="{{ "/assets/images/" | append: page.collection | append: "/" | append: include.src | relative_url  }}" class="figure-img img-fluid rounded w-{{ include.w }}" alt="{{ include.alt }}" title="Click to enlarge">
    <figcaption class="figure-caption">{{ include.alt }}</figcaption>
    </a></figure>
{% comment %}
src = image file src
alt = alternative text
w = image width in percentage
{% endcomment %}
    