<a class="img-toggle" role="button" href="#{{ include.name }}" data-bs-toggle="collapse" aria-controls="{{ include.name }}" aria-expanded="false"><span class="iconCollapse"><i class="far fa-plus-square fa-2x mx-auto"></i><i class="far fa-minus-square fa-2x mx-auto"></i><b>{% if include.btn != "" %} {{include.alt}}{% endif %}</b></span></a>
<div class="collapse" id="{{ include.name }}"><div class="embed-responsive mb-3" ><video onclick="this.paused ? this.play() : this.pause()" controls=true class="embed-responsive-item video" width="{{ include.w }}%" src="{{ include.src | relative_url  }}" title="{{ include.alt }}" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video></div></div>
<a class="img-toggle" role="button" href="#{{ include.name }}" data-bs-toggle="collapse" aria-controls="{{ include.name }}" aria-expanded="false">
    <i class="far fa-plus-square fa-2x"></i><i class="far fa-minus-square fa-2x"></i> <b>{% if include.btn != "" %}{{include.alt}} {% endif %}</b></a>
    <div class="collapse row" id="{{ include.name }}"><img src="{{ include.file | relative_url }}" class="figure-img img-fluid rounded" alt="{{ include.alt }}" title="{{ include.alt }}">{% if include.pastebin != "" %}<div class="row mb-2"><b>Import JSON button</b><script src="http://pastebin.com/embed_js.php?i={{ include.pastebin }}"></script></div>{% endif %}</div>
{% comment %}
img = img file name, alt = h1 and alt text, video = vid file name
     img_width = image width, vid_width = video width, pastebin = pastebin url fragment
     name = unique name
     btn non empty = include text
{% endcomment %} 
