<div class="row">
  {% include navigation.html %}
  <main role="main" class="col-md-4 col-sd-4 col-lg-4 ml-sm-auto  pt-3 pr-5 pl-4">
      {{ content }}
  </main>
  <span class="col-md-2 col-sd-2 col-lg-2 pt-3 pr-5 pl-4">{{ content }}</span>
</div>

<h2>Prerequisites</h2>
<h2>Installation</h2>
<h2>Transmitter</h2>
<h2>OBS websocket</h2>
<h2>Linking your Twitch account</h2>
<h2>Renewing your Twitch token</h2>
<h2>Stream Deck on PC</h2>
<h2>Stream Deck on Android</h2>
<h2>Menu Options</h2>
<h2>Extensions</h2>
<h2>Notification system</h2>
<h2>Update and Data Backup</h2>
<h2>Alternate Twitch account</h2>


Hello there
Several Bootstrap components utilize z-index, the CSS property that helps control layout by providing a third axis to arrange content. We utilize a default z-index scale in Bootstrap that’s been designed to properly layer navigation, tooltips and popovers, modals, and more.

These higher values start at an arbitrary number, high and specific enough to ideally avoid conflicts. We need a standard set of these across our layered components—tooltips, popovers, navbars, dropdowns, modals—so we can be reasonably consistent in the behaviors. There’s no reason we couldn’t have used 100+ or 500+.

We don’t encourage customization of these individual values; should you change one, you likely need to change them all.






<nav id="sidebarwrap" class="col-2 min-width-250-md d-none d-md-block sidebar-xs-collapse" >
  <div id="sidebar" class="hidden-xs">
    <ul class="nav flex-column">
{% for item in site.data.navigation.main %}
<li class="nav-item">
<a href="{{ item.link }}" class="nav-link" {% if page.url == item.link %} class="nav-link active" {% endif %} >
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
  {{ item.name }} <span class="sr-only">(current)</span> </a>
{% if page.url == item.link %} {{ page.content | toc_only }}{% endif %}   
{% endfor %}
</li>
</ul>
</div>
</nav>


